*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 2rem;
      padding-right: 5rem;
      position: sticky;
      top: 0;
      background-color:white;
      width: 100%;
      z-index: 1;
  }
  .nav-bar{
      display: flex;
      border: 1px solid black;
      border-radius: 5px;
      font-family: sans-serif;
      overflow: hidden;
      padding: 0;
      margin: 0;
  }
  .nav-bar a{
      text-decoration: none;
      color: black;
  }
  .nav-item{
      padding: 8px 1em;
      /* width: 130px; */
      border-right: 1px solid black;
      text-align: center;
      cursor: pointer;
  }
  .nav-item:hover{
      background: rgb(237, 47, 26);
      /* margin-top: -2px; */
      /* color: white; */
      font-weight: bold;
  }
  
  .nav-bar:last-child{
      border-right: none;
  }
  .logo{
      margin-top: 5px;
      height: 6rem;
      margin-bottom: 5px;
  }
  img.icon{
      width: 50px;
      height: 50px;
      right: 10rem;
      transform: scaleX(-1);
      position: absolute;
      margin: 11px 5px;
      cursor: pointer;
  }
  #hero{
      /* height: 578px; */
      /* width: 1366px; */
      margin-top: 2rem;
      margin-bottom: 5rem;
      padding: 0 5rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      /* background-image: url('../assets/telkom-hero.jpg'); */
      background-origin: content-box;
  }
  .hero-img{
      width: 100%;
  }
  .text{
      padding: 3rem 5rem;
      /* width: 1366px; */
  }
  .text h1{
      margin-bottom: 0;
      font-family: sans-serif;
  }
  .text h2{
      margin-top: 0.5rem;
      font-family: sans-serif;
  }
  /* .hero-img{
      height: 578px;
      width: 100%;
      width: 1366px;
  } */
  #headquarters-section{
      /* margin-top: 5rem;
      margin-bottom: 8rem; */
      padding-left: 5rem;
      padding-right: 5rem;
      /* text-align: center; */
      width: 100%;
  }
  #headquarters-section h1{
      margin-bottom: 3rem;
      font-family: sans-serif;
  }
  .wrapper{
      display: flex;
      /* justify-content: center; */
      gap: 4rem;
  }
  .wrapper p{
      font-size: 2em;
      font-family: sans-serif;
  }
  .headquarters-image-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1em;
      gap: 2rem;
  }
  .headquarters-image{
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
  }
  .resize{
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      border: 10px solid #5a5c5e;
      transition: transform .5s;
  }
  .resize:hover{
      transform: scale(1.1);
  }
  #message-us-section{
      margin: 5rem 0;
      padding: 0 5rem;
      display: flex;
      /* justify-content: space-between; */
      gap: 5rem;
  }
  #message-us-section h1{
      font-family: sans-serif;
      margin-bottom: 2rem;
  }
  /* form{
      display: flex;
      flex-direction: row;
      display: flex-start;
  } */
  input[type="text"],
  input[type="date"] {
      width: 20rem;
      padding: 8px;
      margin: 5px 0;
      border-radius: 3px;
      border: 1px solid black;
  }
  input[type="radio"]{
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      accent-color: black;
  }
  textarea{
      width: 20rem;
      height: 8rem;
      border-radius: 3px;
      border: 1px solid black;
      margin-top: 5px;
      padding-left: 8px;
      padding-top: 3px;
  }
  .form-output{
      /* margin-left: 40rem; */
      /* margin-right: 8rem; */
      margin-top: 5.5rem;
      width: 38.5rem;
      height: 16rem;
      border-radius: 3px;
      border: 1px solid black;
      padding: 1rem;
      background-color: white;;
      /* position: absolute; */
      /* padding-top: 5rem; */
  }
  #kirim{
      padding: 0.6em;
      margin-top: 15px;
      width: 23rem;
      border: none;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid black;
  }
  footer{
      margin: 5rem 5rem;
      /* width: 1366px; */
      font-family: sans-serif;
      text-align: right;
  }
  .dark-mode{
      background-color: #5a5c5e;
      color: white;
      .icon {
          filter: invert(100%);
      }
      .nav-item:hover{
          color: white;
      }
      .resize{
          border: 10px solid white;
      }
      .form-output p{
          color: black;
      }
  }
  
  /* Media Query */
  /* Mobile Devices */
  /* @media only screen and (min-width: 600px){
      .wrapper{
          flex-direction: column;
      }
      .nav-bar{
          flex-direction: column;
      }
  } */
  @media only screen and (min-width: 0px) and (max-width:320px){ 
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 2rem;
          padding-right: 0;
          position: sticky;
          top: 0;
          background-color: white;
          width: 100%;
          z-index: 1;
      }
      .nav-bar{
          border: 1px solid black;
          border-radius: 5px;
          font-family: sans-serif;
          overflow: hidden;
          padding: 0;
          margin: 0;
          display: block;
      }
      .text {
          padding: 3rem 3rem;
          width: 100%;
      }
      .text h1{
          font-size: 1.8rem;
      }
      .text h2{
          font-size: 1.2rem;
      }
      img.icon {
          width: 25px;
          height: 25px;
          right: 4rem;
          transform: scaleX(-1);
          top: 20rem;
          /* position: absolute; */
          margin: 11px 5px;
      }
      /* #hero {
          height: 578px;
          width: 918px;
          margin-top: 2rem;
          margin-bottom: 5rem;
          padding: 0 5rem;
          margin-left: auto;
          margin-right: auto;
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../assets/telkom-hero.jpg);
          background-origin: content-box;
      } */
      #hero{
          padding: 0 3rem;
      }
      #headquarters-section {
          padding: 0 3rem;
          /*text-align: center;*/
          width: 100%;
      }
      .headquarters-image-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1rem 1em;
          gap: 2rem;
      }
      .wrapper {
          display: block;
      }
      #message-us-section {
          margin: 5rem 0;
          padding: 0 1.5rem;
          display: flex;
      }
      input[type="text"], input[type="date"] {
          width: 14rem;
          padding: 8px;
          margin: 5px 0;
          border-radius: 3px;
          border: 1px solid black;
      }
      textarea {
          width: 14rem;
          height: 8rem;
          border-radius: 3px;
          border: 1px solid black;
          margin-top: 5px;
          padding-left: 8px;
          padding-top: 3px;
      }
      #kirim {
          padding: 0.6em;
          margin-top: 15px;
          width: 17.2rem;
          border: none;
          cursor: pointer;
          border-radius: 3px;
          border: 1px solid black;
      }
      .form-output {
          margin-top: 25.5rem;
          width: 17.2rem;
          height: 17rem;
          position: absolute;
          padding-top: 2rem;
      }
      footer {
          margin-right: 2rem;
          margin-top: 20rem;
          /* width: 1000px; */
          font-family: sans-serif;
          text-align: right;
      }
  }
  @media only screen and (min-width: 321px) and (max-width:376px){
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 2rem;
          padding-right: 0;
          position: sticky;
          top: 0;
          background-color: white;
          width: 100%;
          z-index: 1;
      }
      .nav-bar{
          border: 1px solid black;
          border-radius: 5px;
          font-family: sans-serif;
          overflow: hidden;
          padding: 0;
          margin: 0;
          display: block;
      }
      .text {
          padding: 3rem 3rem;
          width: 100%;
      }
      .text h1{
          font-size: 1.8rem;
      }
      .text h2{
          font-size: 1.2rem;
      }
      img.icon {
          width: 25px;
          height: 25px;
          top: 20rem;
          right: 3rem;
          transform: scaleX(-1);
          /* position: absolute; */
          margin: 11px 5px;
      }
      /* #hero {
          height: 578px;
          width: 970px;
          margin-top: 2rem;
          margin-bottom: 5rem;
          padding: 0 5rem;
          margin-left: auto;
          margin-right: auto;
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../assets/telkom-hero.jpg);
          background-origin: content-box;
      } */
      #hero{
          padding: 0 3rem;
      }
      #headquarters-section {
          padding: 0 3rem;
          /* text-align: center; */
          width: 100%;
      }
      .headquarters-image-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1rem 1em;
          gap: 2rem;
      }
      .wrapper {
          display: block;
      }
      #message-us-section {
          margin: 5rem 0;
          padding: 0 3rem;
          display: flex;
          /* justify-content: space-between; */
          /* gap: 5rem; */
      }
      input[type="text"], input[type="date"] {
          width: 12rem;
          padding: 8px;
          margin: 5px 0;
          border-radius: 3px;
          border: 1px solid black;
      }
      textarea {
          width: 12rem;
          height: 8rem;
          border-radius: 3px;
          border: 1px solid black;
          margin-top: 5px;
          padding-left: 8px;
          padding-top: 3px;
      }
      
      #kirim {
          padding: 0.6em;
          margin-top: 15px;
          width: 15.1rem;
          border: none;
          cursor: pointer;
          border-radius: 3px;
          border: 1px solid black;
      }
      .form-output {
          margin-top: 25.5rem;
          width: 15.3rem;
          height: 17rem;
          position: absolute;
          padding-top: 2rem;
      }
      footer {
          margin-right: 1rem;
          margin-top: 20rem;
          /* width: 850px; */
          font-family: sans-serif;
          text-align: right;
      }
  }
  @media only screen and (min-width:376px) and (max-width:624px){
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 2rem;
          padding-right: 0;
          position: sticky;
          top: 0;
          background-color: white;
          width: 100%;
          z-index: 1;
      }
      .nav-bar{
          border: 1px solid black;
          border-radius: 5px;
          font-family: sans-serif;
          overflow: hidden;
          padding: 0;
          margin: 0;
          display: block;
      }
      .text {
          padding: 3rem 3rem;
          width: 100%;
      }
      .text h1{
          font-size: 1.8rem;
      }
      .text h2{
          font-size: 1.2rem;
      }
      img.icon {
          width: 30px;
          height: 30px;
          right: 4rem;
          top: 17.5rem;
          transform: scaleX(-1);
          /* position: absolute; */
          margin: 11px 5px;
      }
      /* #hero {
          height: 578px;
          width: 925px;
          margin-top: 2rem;
          margin-bottom: 5rem;
          padding: 0 5rem;
          margin-left: auto;
          margin-right: auto;
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../assets/telkom-hero.jpg);
          background-origin: content-box;
      } */
      #hero{
          padding: 0 3rem;
      }
      #headquarters-section {
          padding: 0 3rem;
          /* text-align: center; */
          /* width: 1000px; */
      }
      .wrapper {
          display: block;
      }
      .headquarters-image-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1rem 1em;
          gap: 2rem;
      }
      .resize {
          height: 12rem;
          width: 12rem;
          border-radius: 50%;
          border: 8px solid #5a5c5e;
          transition: transform .5s;
      }
      #message-us-section {
          margin: 5rem 0;
          padding: 0px 3rem;
          display: flex;
      /* justify-content: space-between; */
          gap: 5rem;
      }
      input[type="text"], input[type="date"] {
          width: 12rem;
          padding: 8px;
          margin: 5px 0;
          border-radius: 3px;
          border: 1px solid black;
      }
      textarea {
          width: 12rem;
          height: 8rem;
          border-radius: 3px;
          border: 1px solid black;
          margin-top: 5px;
          padding-left: 8px;
          padding-top: 3px;
      }
      #kirim {
          padding: 0.6em;
          margin-top: 15px;
          width: 15.1rem;
          border: none;
          cursor: pointer;
          border-radius: 3px;
          border: 1px solid black;
      }
      .form-output {
          margin-top: 25.5rem;
          width: 15.3rem;
          height: 17rem;
          position: absolute;
          padding-top: 2rem
      }
      footer {
          margin-right: 4rem;
      /* width: 810px; */
          margin-top: 20rem;
          font-family: sans-serif;
          text-align: right;
      }
  }
  @media only screen and (min-width: 625px) and (max-width: 768px){
      
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 2rem;
          /* padding-right: 5rem; */
          padding-right: 0;
          position: sticky;
          top: 0;
          background-color: white;
          width: 100%;
          z-index: 1;
      }
      .nav-bar {
          display: block;
          border: 1px solid black;
          border-radius: 5px;
          font-family: sans-serif;
          overflow: hidden;
          padding: 0;
          margin: 0;
      }
      /* .nav-bar a{
          padding: 1rem 1.5rem;
      } */
      .text h1{
          font-size: 1.8rem;
      }
      .text h2{
          font-size: 1.2rem;
      }
      img.icon {
          width: 50px;
          height: 50px;
          right: 6rem;
          transform: scaleX(-1);
          position: absolute;
          margin: 11px 5px;
      }
      .wrapper {
          display: flex;
          /* justify-content: center; */
          gap: 1rem;
      }
      .wrapper p {
          font-size: 1.5em;
          font-family: sans-serif;
      }
      .headquarters-image {
          height: 8rem;
          width: 8rem;
          border-radius: 50%;
      }
      .headquarters-image-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 0.5em;
          gap: 2rem;
      }
      .resize {
          height: 8rem;
          width: 8rem;
          border-radius: 50%;
          border: 8px solid #5a5c5e;
          transition: transform .5s;
      }
      #kirim{
          padding: 0.6em;
          margin-top: 15px;
          width: 23rem;
          border: none;
          cursor: pointer;
          border-radius: 3px;
          border: 1px solid black;
      }
      .form-output {
          margin-top: 25.5rem;
          width: 23rem;
          height: 17rem;
          position: absolute;
          padding-top: 2rem;
      }
      footer {
          margin-top: 22rem;
          margin-bottom: 5rem;
          /* width: 1180px; */
          font-family: sans-serif;
          text-align: right;
      }
  }
  @media only screen and (min-width: 768px) and (max-width:979px){
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 2rem;
          padding-right: 5rem;
          position: sticky;
          top: 0;
          background-color: white;
          width: 100%;
          z-index: 1;
      }
      img.icon {
          width: 50px;
          height: 50px;
          /* right: -21rem; */
          transform: scaleX(-1);
          /* position: absolute; */
          margin: 11px 5px;
      }
      .nav-bar {
          display: flex;
          border: 1px solid black;
          border-radius: 5px;
          font-family: sans-serif;
          overflow: hidden;
          padding: 0;
          margin: 0;
      }
      .wrapper {
          display: flex;
          /* justify-content: center; */
          gap: 2rem;
      }
      .headquarters-image {
          height: 10rem;
          width: 10rem;
          border-radius: 50%;
      }
      .resize {
          height: 10rem;
          width: 10rem;
          border-radius: 50%;
          border: 8px solid #5a5c5e;
          transition: transform .5s;
      }
      input[type="text"], input[type="date"] {
          width: 15rem;
          padding: 8px;
          margin: 5px 0;
          border-radius: 3px;
          border: 1px solid black;
      }
      textarea {
          width: 15rem;
          height: 8rem;
          border-radius: 3px;
          border: 1px solid black;
          margin-top: 5px;
          padding-left: 8px;
          padding-top: 3px;
      }
      .form-output {
          margin-left: 20rem;
          /* margin-right: 8rem; */
          margin-top: 5.5rem;
          width: 18.3rem;
          height: 15rem;
          position: absolute;
          padding-top: 2rem;
      }
      #kirim {
          padding: 0.6em;
          margin-top: 15px;
          width: 18.1rem;
          border: none;
          cursor: pointer;
          border-radius: 3px;
          border: 1px solid black;
      }
      footer {
          margin: 5rem 5rem;
          /* width: 1120px; */
          font-family: sans-serif;
          text-align: right;
      }
  }
  @media only screen and (min-width: 979px) and (max-width:1024px){
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 2rem;
          padding-right: 5rem;
          position: sticky;
          top: 0;
          background-color: white;
          width: 100%;
          z-index: 1;
      }
      .nav-bar {
          display: flex;
          border: 1px solid black;
          border-radius: 5px;
          font-family: sans-serif;
          overflow: hidden;
          padding: 0;
          margin: 0;
      }
      img.icon {
          width: 50px;
          height: 50px;
          /* right: -14rem; */
          transform: scaleX(-1);
          /* position: absolute; */
          margin: 11px 5px;
      }
      #kirim {
          padding: 0.6em;
          margin-top: 15px;
          width: 23.1rem;
          border: none;
          cursor: pointer;
          border-radius: 3px;
          border: 1px solid black;
      }
      .form-output {
      /* margin-left: 3rem; */
      /* margin-right: 0rem; */
          margin-top: 5.5rem;
      /* width: 34rem; */
          height: 17rem;
      /* position: absolute; */
          /* padding-top: 5rem; */
      }
      footer {
          margin: 5rem 5rem;
          /* width: 1150px; */
          font-family: sans-serif;
          text-align: right;
      }
  }